{{>header}}

{{>navigation}}

<div class="container overflow-auto">
	<div class="text-center">
		<div class="header">
			<h1 class="display-3">Camera Control</h1>
		</div>

        {{#succeed_message}}
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div 
            {{#green}} class="toast align-items-center text-bg-success border-0" {{/green}} 
            {{#red}} class="toast align-items-center text-bg-danger border-0" {{/red}}
            {{#blue}} class="toast align-items-center text-bg-primary border-0" {{/blue}} 
            role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ succeed_message }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {{/succeed_message}}

        {{#failed_message}}
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div class="toast align-items-center text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ failed_message }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {{/failed_message}}
        <h1 class="card-title display-4 my-3">
            Rotate 
            <input type="number" class="form-control camera-angle" id="camera-angle" name="degree" value="{{degree}}">
            Degree
        </h1>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row mb-0 justify-content-center align-items-center">
                    <div class="col-sm-2 d-flex flex-column align-items-center mb-3 mb-sm-0">
                        <form class="mb-3" action="/camera/up" encType="multipart/form-data" method="post" onsubmit="addInputValueToForm(event)">
                            <button type="submit" id="up" class="btn btn-primary btn-circle btn-xl arrows">
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                        </form>
                        <form class="mb-3" action="/camera/down" encType="multipart/form-data" method="post" onsubmit="addInputValueToForm(event)">
                            <button type="submit" id="down" class="btn btn-primary btn-circle btn-xl arrows">
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <div id="video-container">
                                    <img id="video" src="" alt="Live Stream" style="display:none" />
                                    <div id="video-placeholder" class="alert alert-light mb-0" role="alert">
                                        No live stream available.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex flex-column align-items-center mb-3 mb-sm-0">
                        <form class="mb-3" action="/camera/left" encType="multipart/form-data" method="post" onsubmit="addInputValueToForm(event)">
                            <button type="submit" id="left" class="btn btn-primary btn-circle btn-xl arrows">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </form>
                        <form class="mb-3" action="/camera/right" encType="multipart/form-data" method="post" onsubmit="addInputValueToForm(event)">
                            <button type="submit" id="right" class="btn btn-primary btn-circle btn-xl arrows">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-2 mb-3 mb-sm-0"></div>
            <div class="col-sm-4 mb-3 mb-sm-0">   
                <div class="card">
                    <div class="card-body">
                        <label for="activate">
                            <h1 class="card-title display-6">Activate Auto-Tracking</h1>
                            <form action="/camera/activate" encType="multipart/form-data" method="post">
                                <button type="submit" id="activate" class="btn btn-success btn-circle btn-xl">
                                    <i class="fa-solid fa-users-viewfinder"></i>
                                </button>
                            </form>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <label for="deactivate">
                            <h1 class="card-title display-6">Deactivate Auto-Tracking</h1>
                            <form action="/camera/deactivate" encType="multipart/form-data" method="post">
                                <button type="submit" id="deactivate" class="btn btn-danger btn-circle btn-xl">
                                    <i class="fa-solid fa-camera-rotate"></i>
                                </button>
                            </form>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mb-3 mb-sm-0"></div>
        </div>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    // Initialize the toast component
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        });

        // Show the toast
        toastList.forEach(toast => toast.show());
    });

    {{! Form submission from four arrow buttons}}
    function addInputValueToForm(event) {
        event.preventDefault();
        const form = event.target;
        const input = document.getElementById('camera-angle');
        const inputClone = input.cloneNode(true);
        inputClone.style.display = 'none';
        form.appendChild(inputClone);
        form.submit();
    }

    // Initialize the socket connection
    const socket = io();
    const img = document.getElementById('video');
    const placeholder = document.getElementById('video-placeholder');

    socket.on('video_stream', (frame) => {
        if (frame) {
            img.src = `data:image/jpeg;base64,${frame}`;
            img.style.display = 'inline-block';
            placeholder.style.display = 'none';
        } else {
            img.style.display = 'none';
            placeholder.style.display = 'inline-block';
        }
    });

</script>

{{>footer}}
