<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<script src="../js/bootstrap.js"></script>
		<style></style>
		<title>Smart Home Application</title>
	</head>
<body class="d-flex flex-column vh-100">
