<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../views/style.css" />
		<script src="../js/bootstrap.bundle.min.js"></script>
		<script src="https://kit.fontawesome.com/961cf62a75.js" crossorigin="anonymous"></script>
		<style></style>
		<title>Smart Home Application</title>
	</head>
<body class="d-flex flex-column vh-100">
