Example
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 35px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.42857;
}

#video-container {
    display: block;
    margin: auto;
    max-width: 500px;
    max-height: 375px;
}

#video-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
    height: 100%;
}

#camera-angle{
    font-size: 3rem;
    text-align: center;
    height: 100%;
    max-width: 6rem;    
    display: inline-block;
}