Example
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 35px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.42857;
}

#video-container {
    display: block;
    margin: auto;
    max-width: 500px;
    max-height: 375px;
}

#video-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
    height: 100%;
}

#camera-angle{
    font-size: 5vw;
    text-align: center;
    height: 100%;
    width: 3em;    
    display: inline-block;
}

/* .arrows {
    position: relative;
    top: 50%;
    margin-top: -50px;
}





.square-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.square {
    position: relative;
    flex-basis: calc(33% - 10px);
    margin: 5px;
    /* border: 1px solid;
    box-sizing: border-box;
}

.square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.square .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
} 
    */